.accordion {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 8px;
}

.accordion:hover {
  background-color: var(--background-hover);
}

.accordion:active {
  background-color: var(--background-click);
}

.accordion[open] {
  border: solid 1px var(--border-secondary-500);
}

.accordion__summary {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.accordion[open] summary {
  font-size: 0.75rem;
  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
}

.accordion[open]:hover {
  background-color: unset;
}

.add-snip__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5rem 0;
  flex: 1 1 auto;
}

.add-snip__action-item {
  flex: 1 1 auto;

  p {
    padding: 0;
    margin: 0;
  }
}

.add-snip__action-item--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Serif", serif;
}

.add-snip__amount {
  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;
  padding: 0;
}
