body {
    font-family: "Roboto Serif", sans-serif;
    width: var(--content-width);
    padding: 8px;
}

label {
    font-size: 12px;
    margin-bottom: 8px;
}

p, h5 {
    margin: 8px 0;
}

.container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--background);
}

.item-gap {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--border-primary-300);
}

.container-spacing {
    padding: 8px;
}

.text-input {
    display: flex;
    flex-direction: row;
}

.text-input__title {
    display: flex;
    padding-right: 8px;
    margin: auto;
    min-width: 30px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    p {
        color: var(--background-text);
    }
}

.header__title {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.header__version {
    margin-bottom: auto;

    p {
        padding: 0;
        margin: 0;
    }
}

.logo {
    width: 40px;
    height: 40px;
    justify-self: center;
    align-items: center;
    display: flex;
    border-radius: 16px;
    background-color: var(--border-primary-300);
    margin-right: 8px;
}

.logo__image {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    margin: auto;
}
