body {
    font-family: "Roboto Serif", sans-serif;
    width: var(--content-width);
    padding: 8px;

}

label {
    font-size: 12px;
    margin-bottom: 8px;
}

p, h5 {
    margin: 8px 0;
}

.container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--background);
}

.item-gap {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--border-primary-300);
}

.container-spacing {
    padding: 8px;
}
