body {
    font-family: "Roboto Serif", sans-serif;
    width: var(--content-width);
    padding: 8px;

}

label {
    font-size: 12px;
    margin-bottom: 8px;
}

p, h5 {
    margin: 8px 0;
}

.container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--background);
}

.snipsOnThisPage {
    border: solid 1px var(--border-secondary-500);
    display: flex;
    gap: 4px;
    border-radius: 8px;
    flex-direction: column;
}

.snipCard {
    flex: 1;
    flex-direction: column;
    padding: 8px;
}

.snipCardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.snipText {
    width: 160px;
    padding-right: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
        padding: 0;
        font-family: "Roboto Mono", sans-serif;
    }
}

.snipURL {
    font-family: "Roboto Serif", serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.snipBackgroundText {
    color: var(--background-text);
}

.snipBackgroundTextAmount {
    font-weight: bold;
}

.snipActions {
    flex: 1;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.snipAction {
    margin: auto;
    padding: 8px;
    height: 100%;
}

.snipAction:hover {
    background-color: var(--background-hover);
    cursor: pointer;
}

.item-gap {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--border-primary-300);
}

.container-spacing {
    padding: 8px;
}
