.removed-elements {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.removed-elements-container {
    display: flex;
    gap: normal;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px var(--border-primary-300);
    border-radius: 8px;
    padding: 0.5rem;
}

.removed-elements-container__item {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
        padding: 0;
        margin: 0;
    }
}

.removed-elements-container__item--amount {
    font-weight: bold;
}
