.info__amount {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 0;
}


.save-snip {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.save-snip__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.url-info {
    display: flex;
    justify-content: space-between;

    p {
        color: var(--background-text);
        padding: 0;
        margin: 0;
    }
}

.page-load {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        flex: 1;
    }

    input {
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
    }
}

.save-snip__button-container {
    display: flex;
    flex: 1;
    justify-content: end;
}

.save-snip__button {
    width: 35%;
}
