.snips-on-this-page {
  border: solid 1px var(--border-secondary-500);
  display: flex;
  gap: 4px;
  border-radius: 8px;
  flex-direction: column;
}

.snips-on-this-page__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.snips-on-this-page__info-text {
  width: 160px;
  padding-right: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.snips-on-this-page__text {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
}

.snips-on-this-page__text--URL {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.snips-on-this-page__text--bg-text {
  color: var(--background-text);
}

.snips-on-this-page__amount {
  font-weight: bold;
}

.snips-on-this-page__actions {
  flex: 1;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.snips-on-this-page__action {
  margin: auto;
  padding: 8px;
  height: 100%;
}

.snips-on-this-page__action:hover {
  background-color: var(--background-hover);
  cursor: pointer;
}

.snip-card {
  flex: 1;
  flex-direction: column;
  padding: 8px;
}
