.accordion {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 8px;
}


.accordion:hover {
    background-color: var(--background-hover);
}

.accordion:active {
    background-color: var(--background-click);
    height: 100vh;
}

.accordion[open] {
    border: solid 1px var(--border-secondary-500);
}

.accordionTitle {
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}

.accordion[open] summary {
    font-size: 0.75rem;
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
}

.accordion[open]:hover {
    background-color: unset;
}

.inputContainer {
    display: flex;
    flex-direction: row;
}

.inputTitle {
    display: flex;
    padding-right: 8px;
    margin: auto;
}

input {
    background: var(--border-secondary-100);
    border: solid 1px var(--border-secondary-300);
    height: 1.5rem;
    padding: 0 4px;
    border-radius: 8px;
    width: 100%;
}

.itemGap {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.snipContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5rem 0;
    flex: 1 1 auto;
}

.snipContainerItems {
    flex: 1 1 auto;

    p {
        padding: 0;
        margin: 0;
    }
}

.snipContainerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Serif", serif;
}

.snipContainerAmount {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
    padding: 0;
}


.buttonContainer {
    display: flex;
    align-items: end;
}

.primaryButton {
    background-color: var(--button-primary-background);
    border-width: 0 0 3px 3px;
    border-color: var(--button-primary-border);
    border-radius: 1rem;
    padding: 0.5rem;
    min-height: 36px;
    max-height: 48px;
    width: 100%;

    font-size: 0.75rem;
    font-weight: bold;
    font-family: "Roboto Mono", sans-serif;
    color: var(--text);
}

.primaryButton:hover {
    background-color: var(--button-primary-background-hover);
}

.primaryButton:active {
    background-color: var(--button-primary-background-active);
}


.divider {
    height: 1px;
    width: 100%;
    background-color: var(--border-primary-300);
}


.saveSnipContainer {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.saveSnipInputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.urlInfo {
    display: flex;
    justify-content: space-between;

    p {
        color: var(--background-text);
        padding: 0;
        margin: 0;
    }
}

.checkBoxContainer {
}

.pageLoadContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
        flex: 1;
    }

    input {
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
    }
}

.saveSnipButtonContainer {
    display: flex;
    flex: 1;
    justify-content: end;
}

.saveSnipButton {
    width: 35%;
}
